# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
*.test.*
*.spec.*

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log

# IDE
.idea/
*.swp
*.swo

# Backup files
*.backup.*
*.backup
*.bak

# Test files
*Test.*
*test.*
server.js

# TypeScript
*.tsbuildinfo
